<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- Defining a list using util:list -->
    <util:list list-class="java.util.LinkedList" id="a1">
        <value>a1</value>
        <value>a2</value>
        <value>a3</value>
    </util:list>

    <!-- Bean with standalone collection injection -->
    <bean id="student" name="student" class="com.sp.standalone.Student">
        <property name="name" ref="a1"></property>
    </bean>

</beans>